.heading {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  border: 0px;
  background-color: rgb(40,167,69);
  padding: 10px;
  border-radius: 5px;
}
.doctorDiv {
  margin-top: 50px;
}

.dashboardDoctorImage {
  width: 100px;
  height: 100px;
}
.doctorCard {
  height: 360px;
  margin-top: 20px;
  transition: transform 1s;
  box-shadow: 6px 6px 6px 6px rgb(245, 233, 214);
}
.doctorCard:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 6px 6px rgb(230, 234, 239);
}
.doctorImage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.doctorDetails {
  width: auto;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.doctorAppoinment {
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.searchDoctorButton {
  width: 140px;
  background-color: #8ef6a2;
  border: 0px;
  padding: 2px;
  min-height: 60px;
  max-height: 60px;
  border-radius: 10px;
  color: rgb(35, 37, 35);
}

@media screen and (max-width: 600px) {
  .heading{
    font-size: 20px;
    font-weight: 700;
  }
  .searchDoctorButton {
    width: 80px;
    background-color: #ccc;
    border: 0px;
    padding: 2px;

  }
}
